 
    <div class="bg-dark mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden" style="width:100%;height: 650px;" >
      <div class="my-3 py-3">
        <h2 class="display-5">About Us</h2>
         
      </div>
      <img src="../../assets/images/logo.png" style="border-radius: 21px 21px 0 0;">
      <!-- <div class="bg-light shadow-sm"  style="background-image: url(../../assets/images/logo.png); background-size: 100%;height: 100%; width: 80%; height: 300px; border-radius: 21px 21px 0 0;"></div> -->
    </div>
     
  <div class="bg-light mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden" style="width:100%;height: 450px;padding-top: 20px !important;">
    <div class="my-3 p-3">
      <h1 class="display-5">XYZ Media Company</h1>
      <br>
      <h4>The ability to uncover industry trends in real-time.
        <br>Stories move us.
        <br>
        They make us feel more emotion,
        <br> see new perspectives,
        <br>
        and bring us closer to each other.</h4>
    </div>
     
  </div>
   
  <div class="bg-dark mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden" style="width:100%;height: 450px;" >
    <div class="my-3 py-3 text-center">
        <h3>At XYZ Media Company, we want to entertain the world. Whatever your taste, and no matter where you live, we give you access to best-in-class  shows, movies and documentaries all the content. Our members control what they want to watch, when they want it, with no ads, in one simple subscription.  We are the world’s biggest fans of entertainment, and we’re always looking to help you find your next favorite story.</h3>
       
    </div> 
  </div>