 <div class="content">
    <div id="formContent">
      <!-- Tabs Titles -->
  
      <!-- Icon -->
      <div class="">
        <img src="https://cdn4.iconfinder.com/data/icons/small-n-flat/24/user-alt-512.png" id="icon" alt="User Icon"  style="width: 20%;margin: 1% 12% 5% 12%;"/>
      </div>
   
          <div class="input-group  input-group-lg" >
             
          <div class="input-group mb-3" style="width: 80%;margin-left: auto; margin-right: auto;">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1">@</span>
            </div>
            <input type="text" id="username" [(ngModel)] ="userDetails.userid" class="form-control" placeholder="Username" aria-describedby="basic-addon1">
          </div>
          <br>
          <div class="input-group mb-3" style="width: 80%;margin-left: auto; margin-right: auto;">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1">P</span>
            </div>
            <input type="Passowrd" id="password" [(ngModel)] ="userDetails.password" class="form-control" placeholder="Passowrd" aria-describedby="basic-addon1">
          </div>
           <br />
           <div class="input-group mb-3" style="width: 80%;margin-left: auto; margin-right: auto;">
        <button (click)="login()" type="button" style="width: 100%;" class="btn btn-dark">Login</button>
    </div>
</div>
    
      <!-- Remind Passowrd -->
      <div id="formFooter">
        <a class="underlineHover" href="#">Forgot Password?</a>
      </div>
  
    </div>
  </div>
  