 
  <!-- Carousel wrapper -->
<div
id="carouselVideoExample"
class="carousel slide carousel-fade"
data-mdb-ride="carousel"
>
<!-- Indicators -->
 <!-- Inner -->
<div class="carousel-inner">
  <!-- Single item -->
  <div class="carousel-item active">
    <video class="img-fluid" autoplay loop muted  id="video">
      <source src="../../assets/video/web.mp4" type="video/mp4" />
       
    </video>
     
    <div class="overlay text-center" style="width: 100%;color: white;backdrop-filter: blur(10px);margin-top: 10%;">
      <img src="../../assets/images/logo.png" style="border-radius: 21px 21px 21px 21px;" width="20%">
      <div class="my-3 p-3" >
        <h1 class="display-5">XYZ Media Company</h1>
        <h5 class="display-5">Private Gallery</h5>
      </div>
  </div>
  </div>
 
</div>
<!-- Inner -->
 
  
</div> 
<!-- Carousel wrapper -->
<div id="to-hover" >
  <div id="to-show">Hello G</div>
</div>  
<!-- Gallery -->
<div class="row">
  <div class="col-lg-4 col-md-12 mb-4 mb-lg-0">
    <div class="overlay text-center">Heelloo</div>
    <img
      src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(73).jpg"
      class="w-100 shadow-1-strong rounded mb-4"
      alt=""
    />

    <img
      src="https://mdbootstrap.com/img/Photos/Vertical/mountain1.jpg"
      class="w-100 shadow-1-strong rounded mb-4"
      alt=""
    />
  </div>

  <div class="col-lg-4 mb-4 mb-lg-0">
    <img
      src="https://mdbootstrap.com/img/Photos/Vertical/mountain2.jpg"
      class="w-100 shadow-1-strong rounded mb-4"
      alt=""
    />

    <img
      src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(73).jpg"
      class="w-100 shadow-1-strong rounded mb-4"
      alt=""
    />
  </div>

  <div class="col-lg-4 mb-4 mb-lg-0">
    <img
      src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(18).jpg"
      class="w-100 shadow-1-strong rounded mb-4"
      alt=""
    />

    <img
      src="https://mdbootstrap.com/img/Photos/Vertical/mountain3.jpg"
      class="w-100 shadow-1-strong rounded mb-4"
      alt=""
    />
  </div>
</div>
<!-- Gallery -->
<!-- Gallery -->